*.log
*.sql
.couscous
.DS_Store
.env
.idea
src/bin/
src/bootstrap/compiled.php
src/node_modules
src/vendor
src/app/database/*.sqlite
src/app/storage/meta/services.json
src/composer.phar
src/crowdin.yaml
src/Homestead.json
src/Homestead.yaml
src/output
src/phpDocumentor.phar
src/public/uploads/*.gif
src/public/uploads/barcodes/*.png
src/public/uploads/*.jpg
src/public/uploads/*.png
src/public/uploads/*.svg
src/public/uploads/*.tif
src/public/uploads/assets/*
src/public/uploads/avatars/*
src/public/uploads/logo.gif
src/public/uploads/logo.png
src/public/uploads/logo.svg
src/public/uploads/models/*
src/public/uploads/suppliers/*
src/public/uploads/accessories/*
src/public/uploads/locations/*
src/public/uploads/manufacturers/*
src/public/uploads/components/*
src/public/uploads/consumables/*
src/public/uploads/companies/*
src/public/uploads/categories/*
src/public/uploads/users/*
src/public/uploads/departments/*
src/storage/app/private_uploads/users/*
src/storage/debugbar/
src/storage/dumps/*
src/storage/laravel-backups
src/storage/logs/*
src/storage/redis.log
src/storage/Records_log.log
src/storage/notify.log
src/storage/private_uploads/users/*
src/storage/oauth-private.key
src/storage/oauth-public.key
src/storage/app/album/*
src/storage/app/announce/*
src/storage/app/avatar/*
src/storage/app/contact_file/*
src/storage/app/department_icon/*
src/storage/app/medicine/*
src/tests/_data/scenarios
src/tests/_output/*
src/tests/_support/_generated/*
src/npm-debug.log

src/*.cache
src/public/storage

ci/data
ci/storage
